<% layout("/layouts/boilerplate") %>

<style>

#filters{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.filter-container{
    display: flex;
    overflow-x: auto;
    gap: 1.5rem;
    flex: 1;
}

.filter-container::-webkit-scrollbar{
    display: none;
}

.filter{
    text-align: center;
    min-width: 70px;
    opacity: 0.8;
    transition: all 0.2s ease;
}

.filter:hover{
    opacity: 1;
}

.filter p{
    font-size: 0.8rem;
    margin-top: 0.3rem;
    margin-bottom: 0;
}

.filter i{
    font-size: 1.2rem;
}

.filter-link{
    text-decoration: none;
    color: rgba(0,0,0,0.6);
}

.filter-link:hover{
    color: black;
}

.tax-toggle{
    border: 1px solid #d3d3d3;
    border-radius: 1rem;
    padding: 0.7rem 1rem;
    margin-left: 2rem;
    white-space: nowrap;
    flex-shrink: 0;
    background: white;
}

.tax-info{
    display: none;
}

</style>

<div id="filters">

    <div class="filter-container">

        <a href="/listings/filter/Trending" class="filter-link">
            <div class="filter">
                <div><i class="fa-solid fa-fire-flame-curved"></i></div>
                <p>Trending</p>
            </div>
        </a>

        <a href="/listings/filter/Rooms" class="filter-link">
            <div class="filter">
                <div><i class="fa-solid fa-bed"></i></div>
                <p>Rooms</p>
            </div>
        </a>

        <a href="/listings/filter/Iconic Cities" class="filter-link">
            <div class="filter">
                <div><i class="fa-solid fa-archway"></i></div>
                <p>Iconic Cities</p>
            </div>
        </a>

        <a href="/listings/filter/Mountains" class="filter-link">
            <div class="filter">
                <div><i class="fa-solid fa-mountain"></i></div>
                <p>Mountains</p>
            </div>
        </a>

        <a href="/listings/filter/Beaches" class="filter-link">
            <div class="filter">
                <div><i class="fa-solid fa-umbrella-beach"></i></div>
                <p>Beaches</p>
            </div>
        </a>

        <a href="/listings/filter/Castles" class="filter-link">
            <div class="filter">
                <div><i class="fa-brands fa-fort-awesome"></i></div>
                <p>Castles</p>
            </div>
        </a>

        <a href="/listings/filter/Farms" class="filter-link">
            <div class="filter">
                <div><i class="fa-solid fa-cow"></i></div>
                <p>Farms</p>
            </div>
        </a>

        <a href="/listings/filter/Arctic" class="filter-link">
            <div class="filter">
                <div><i class="fa-solid fa-snowflake"></i></div>
                <p>Arctic</p>
            </div>
        </a>

        <a href="/listings/filter/Casinos" class="filter-link">
            <div class="filter">
                <div><i class="fa-solid fa-dice"></i></div>
                <p>Casinos</p>
            </div>
        </a>

        <a href="/listings/filter/Swimming Pool" class="filter-link">
            <div class="filter">
                <div><i class="fa-solid fa-person-swimming"></i></div>
                <p>Swimming Pool</p>
            </div>
        </a>

        <a href="/listings/filter/River" class="filter-link">
            <div class="filter">
                <div><i class="fa-solid fa-bridge"></i></div>
                <p>River</p>
            </div>
        </a>


        <a href="/listings" class="filter-link">
            <div class="filter">
                <div><i class="fa-solid fa-house"></i></div>
                <p>All</p>
            </div>
        </a>

    </div>

    <div class="tax-toggle">
        <div class="form-check form-switch">
            <input class="form-check-input"
                   type="checkbox"
                   id="checkNativeSwitch">

            <label class="form-check-label"
                   for="checkNativeSwitch">
                Display Total After Taxes
            </label>
        </div>
    </div>

</div>

<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">

    <% if(allListings.length === 0){ %>

        <h3>No Listings Found!</h3>

    <% } %>


    <% for(let listing of allListings ){ %>

        <a href="/listings/<%= listing._id %>" class="listing-link">

            <div class="card col listing-card">

                <% if(listing.images && listing.images.length > 0){ %>

<img
src="<%= listing.images[0].url %>"
class="card-img-top"
alt="listing image">

<% } else { %>

<img
src="<%= listing.image.url %>"
class="card-img-top"
alt="listing image">

<% } %>

                <div class="card-img-overlay"></div>

                <div class="card-body">

                    <h5 class="card-title">
                        <%= listing.title %>
                    </h5>

                    <p class="card-text">

                        &#8377;
                        <%= (listing.price || 0).toLocaleString("en-IN") %> / night

                        <i class="tax-info">
                            &nbsp; &nbsp; +18% GST
                        </i>

                    </p>

                </div>

            </div>

        </a>

    <% } %>

</div>



<script>

  let taxToggle = document.querySelector("#checkNativeSwitch");

  taxToggle.addEventListener("click", () => {

    let taxinfo = document.getElementsByClassName("tax-info");

    for(let info of taxinfo){

        if(info.style.display != "inline"){

            info.style.display = "inline";

        } else {

            info.style.display = "none";

        }
    }
  });

</script>